/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Font */
body {
  font-family: "Montserrat", sans-serif;
}

/* Coloring */
:root {
  /* Light Theme */
  --bg-color-light: #fff;
  --text-color-light: #333;

  /* Dark Theme */
  --bg-color-dark: #000;
  --text-color-dark: #d4d4d4;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  /* background-color: rgb(212, 212, 212, 0.8); */
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.sitename {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.navbar span {
  color: #007bff;
}

.navbar .navbar-nav a {
  display: inline-block;
  color: var(--text-color-light);
  transition: color 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #007bff;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #007bff;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: transform 0.3s linear;
}

.navbar .navbar-extra a {
  color: var(--text-color-light);
  font-size: 1.2rem;
  transition: color 0.3s;
}
.navbar .navbar-extra a:hover {
  color: #007bff;
}

#hamburger-menu {
  display: none;
}

/* Media Queries */

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--text-color-light);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg-color-light);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* Mobile Phone */
  @media (max-width: 480px) {
    html {
      font-size: 55%;
    }
  }
}
