/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Font */
body {
  font-family: "Montserrat", sans-serif;
}

/* Coloring */
:root {
  /* Light Theme */
  --bg-color-light: #fff;
  --text-color-light: #333;

  /* Dark Theme */
  --bg-color-dark: #000;
  --text-color-dark: #d4d4d4;
}

/* Header Section */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(212, 212, 212, 0.8);
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color-light);
}

.navbar .navbar-nav a {
  display: inline-block;
  color: var(--text-color-light);
  transition: color 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #007bff;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #007bff;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: transform 0.3s linear;
}

.navbar .navbar-extra a {
  color: var(--text-color-light);
  font-size: 1.2rem;
  transition: color 0.3s;
}
.navbar .navbar-extra a:hover {
  color: #007bff;
}

.navbar .sitename .shop-text {
  color: #007bff;
}

.navbar .sitename {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

/* Hamburger Menu */
#hamburger-menu {
  display: none;
}

/* Main Section */

/* Home Main */
.hero {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .content .hero-image img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  border-radius: 1rem;
  object-fit: contain;
  transition: 0.35s ease;
}

.hero .content .hero-image img:hover {
  transform: scale(1.05);
}

.hero .content .hero-content {
  text-align: center;
  padding-top: 2rem;
}

.hero .content .hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--text-color-light);
}

.hero .content .hero-content p {
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--text-color-light);
}

/* Gallery Main */

.hero .content .hero-content {
  padding-bottom: 1rem;
}

.hero .content .hero-content .shop-text {
  color: #007bff;
}

.gallery-card {
  padding-top: 1rem;
  transition: 0.35s ease;
}

.gallery-card:hover {
  transform: scale(1.18);
}

.gallery-card {
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 0.6rem;
}

.gallery-card .image-gallery {
  margin-left: auto;
  margin-right: auto;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0.5rem 7%;
}

/* Footer Section */
.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: rgb(212, 212, 212, 0.8);
  border-top: 1px solid var(--text-color-light);
  color: var(--text-color-light);
  margin-top: 20.2rem;
}

.footer .shop-text {
  color: #007bff;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  /* Navbar Section */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 0.01%;
    right: -100%;
    background-color: var(--text-color-light);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg-color-light);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .image-gallery {
    grid-template-columns: 1fr;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Footer Section */
  .footer {
    margin-top: 82rem;
  }
}
